@import "src/styles/scaffold";

.fs-slider-home {
  width: 100%;

  [data-fs-slider-home="slider-ppal"] {
    @include media("<=phonemid") {
      width: 270%;
    }
  }

  [data-carousel-controls="true"] {
    position: relative;
    bottom: 158px;
    display: flex;
    justify-content: space-between;

    @include media(">phonemid", "<=tablet") {
      bottom: 180px;
    }

    [data-fs-button="true"] {
      width: 50px;
      max-width: 100%;
      height: 50px;
      background: #fff;
      border: none;
      border-radius: 100px;
      box-shadow: 0 0 3px 0 rgb(169 169 169 / 70%);

      @include media("<=phonemid") {
        display: none;
      }
    }

    [data-arrow="left"] {
      position: relative;
      left: 12px;
    }

    [data-arrow="right"] {
      position: relative;
      right: 12px;
    }
  }

  [data-fs-icon="true"] {
    top: 22px;
    display: block;
    font-size: -13px;
    color: #788195;
    -moz-osx-font-smoothing: grayscale;

    svg {
      width: 20px;
      height: 15px;
    }
  }

  [data-carousel-bullets="true"] {
    position: relative;
    bottom: 75px;
    left: 45%;
    width: 10%;
    margin-right: 0;

    @include media("<=phonemid") {
      bottom: 20px;
      left: 40%;
    }

    [data-fs-bullets] {
      display: flex;
      column-gap: 5px;
    }

    [data-fs-button="true"] {
      height: 11px;
      border: none;
      border-radius: 100%;
    }
  }
}
