@import "src/styles/scaffold";

.fslinkstext{
[data-fs-navlinks-list-linio]{
 display: flex;
 column-gap: 50px;

 @include media("<=phonemid"){
  display: none;
 }
}

[data-fs-navlinks-link-menu]{
  display: flex;
  align-items: center;
  padding: 0;

  svg{
    margin-right: 20px;
  }

  @include media(">=tablet","<laptop"){
    flex-direction: column;
    text-align: center;
    svg{
      margin-right: 0;
    }
   }
}

}

