@import "src/styles/scaffold";

.fs-banner-home {
  margin-top: 12px;
  margin-bottom: 12px;

  //  &[data-fs-banner-home="banner-cmr"]{
  // img{ width: 100%;}
  //  }
  [data-fs-banner-home="banner-categorias-home"] {
    display: flex;
    column-gap: 10px;
  }

  // @include media ("<=phonemid"){
  //   [data-banner-image]{
  //     img{
  //       width: 100%;
  //       height: auto;
  //     }
  //   }
  // }
}
