@import "src/styles/scaffold";

.fs-banner-home{
   margin-top: 12px;
   margin-bottom: 12px;

  [data-banner-image]{
    img{
      width: 100%;
    }

  }

  // @include media ("<=phonemid"){
  //   [data-banner-image]{
  //     img{
  //       width: 100%;
  //       height: auto;
  //     }
  //   }
  // }

}


